@import "util";
@import "panel";
$infoPanelWidth:450px;
.h-panel{
  &.h-panel-info{
    @include keyframes(h-dialog-info-leave){
      0%{
        opacity: 1;
      }
      100%{
        @include css(transform,scale(0) rotateX(90deg) skewX(-45deg));
        opacity: 0;
      }
    }
    @include keyframes(h-dialog-info-enter){
      0%{
        @include css(transform,scale(0) rotateX(90deg) skewX(-45deg));
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    padding-top:5px;
    paddinb-bottom:5px;
    position: fixed;
    right:5px;
    width:$infoPanelWidth;
    border:1px solid #c5bf7f;
    border-radius:.15em;
    opacity:0;
    z-index:9999;
    @include css(transition,bottom .6s);
    @include css(animation,h-dialog-info-leave 1s);
    &.h-visible{
      opacity:1;
      @include css(animation,h-dialog-info-enter 1s);
    }
  }
}